@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

#hero{
    min-height: 100vh;
    position: relative;
}

.io{

    justify-content: center;
    display: flex;
    width: 200px;
    height: 400px;
    position: relative;
    margin-left: 550px;
    margin-top: 30px;

    

}

.text{
    top: 65%;
    margin: 50px;
    text-align: justify;
    position: relative;
    font-size:larger;
    font-family: 'Dosis', sans-serif;
}

.Title2{
    display: flex;
    justify-content: center;
    margin-top: 110px;
    font-family: 'Dosis', sans-serif;
    font-size: 40px;
}
