body{

    background-color: red;
    
    
}
    
div{
    
    background-color: blueviolet;
    
}

.flechas{
    display: flex;
    justify-content: center;
    font-size: 2cm;
}
